<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Electron</title>

    <!-- Bootstrap -->
   
    <!-- CSS personalizado -->
    <link rel="stylesheet" href="../public/css/style.css">
    
    <!-- Impedir a execução de scripts externos não autorizados -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self'">

</head>
<body>
    <div class="container text-center mt-5">
        <img src="../public/img/mecanico.png" alt="Cadastro do Cliente" title="Cadastro do Cliente" class="img-fluid">
        <img src="../public/img/mecanico2.png" alt="Ordens de servicos" title="Ordens de servicos" class="img-fluid">
     
    </div>

    <footer class="text-center mt-4">
        <p id="dataAtual"></p>
    </footer>

    <!-- Scripts -->

    <script src="../public/js/script"></script>
    <script src="../public/js/script.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
 
</body>
</html>
